
*{  
    
    box-sizing: border-box;
}
 body{   
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
 }
h1{
    font-family: 'Courier New', Courier, monospace;
    color: #f5ce52;
    
}

.cambio-container{
    margin: 10px;
}

.cambio{
    font-family: sans-serif;
    font-size: 30px;
    color: red;
    
}
.btn{
    color: white;
    background: #f5ce52;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
}
.moneda{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.moneda select{
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.moneda input {
    border: 0;
    font-size: 30px;
    text-align: right;
}
p{  
    font-family: Arial, Helvetica, sans-serif;
    color: #f5ce52;

}